@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap');

:root {
    --soft-red: hsl(10, 79%, 65%);
    --cyan: hsl(186, 34%, 60%);
    --dark-brown: hsl(25, 47%, 15%);
    --medium-brown: hsl(28, 10%, 53%);
    --cream: hsl(27, 66%, 92%);
    --very-pale-orange: hsl(33, 100%, 98%);
}

body {
    font-size: 18px;
    font-family: "DM Sans", sans-serif; /* 400, 700 */
    background-color: var(--cream);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 1em;
}
.container {
    max-width: 450px;
    width: 100%;  
}

/* Balance */

.balance-summary {
    background-color: var(--soft-red);
    display: flex;
    justify-content: space-between;
    padding: .25em 1em;
    border-radius: 10px;
    color: var(--cream);
    margin-bottom: .75em;
}

.balance-header {
    font-size: 0.8em;
    margin-bottom: 0;
}

.balance {
    font-size: 1.5em;
    margin-top: .25em;
    margin-bottom: .75em;
    font-weight: 700;;
}


/* Spending */

.spending-summary {
    background-color: var(--very-pale-orange);
    padding: 1em;
    border-radius: 10px;
    color: var(--dark-brown);
}

.spending-header {
    margin-top: .25em;
    font-size: 1.25em;
    text-align: left;
    margin-bottom: 0;
}

.dates {
    display: flex;
    justify-content: space-between;
    color: var(--medium-brown);
    font-size: .75em;
    border-bottom: 2px solid var(--cream);
    margin-bottom: 1em;
}

.spending-footer {
    display: flex;
    justify-content: space-between;
}


/* Total Spending */

.total-spending-summary {
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.total-header {
    color:hsl(28, 10%, 53%);
    font-size: .75em;
    margin: .25em;
}

.total {
    margin: 0;
    font-size: 1.5em;
    font-weight: 700; 
}

/* Percentage */

.percent-summary {
    display: flex;
    flex-direction: column;
    justify-content: end;
    align-items: end;
}

.percent {
    margin: 0;
    font-weight: 700;
}

.percent-description {
    margin: 0;
    color: var(--medium-brown);
    font-size: .75em;
}

.chart {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    height: 200px;
  }
  
  .bar {
    width: 28px;
    background-color: var(--soft-red);
    border-radius: 3px;
    position: relative;
    transition: background-color 0.3s;
  }
  
  .bar:hover {
    background-color: var(--cyan);
    cursor: pointer;
  }
  
  .bar:hover::after {
    content: attr(data-amount);
    position: absolute;
    top: -30px;
    left: 50%;
    transform: translateX(-50%);
    background-color: var(--dark-brown);
    color: var(--very-pale-orange);
    padding: 5px;
    border-radius: 5px;
    font-size: 0.8em;
  }
  
  .bar.current {
    background-color: var(--cyan);
  }

  @media (min-width: 500px) {
    .bar {
        width: 40px;
    }
  }
  